{% extends 'index.html' %}

{% block clients %}
{% load staticfiles %}
<table>
    <caption>Таблица имен</caption>
    <tr>
        <th>ФИО</th>
        <th>Телефон</th>
        <th>Почта</th>
        <th>О клиенте</th>

    </tr>
    {% for client in clients %}

        <tr>
            <td><a href="../../clients/get/{{ client.id }}/">{{ client.get_fio }}</a></td>
            <td>{{ client.clients_telephone | phone2numeric}}</td>
            <td>{{ client.clients_email }}</td>
            <td>{{ client.clients_comments}}</td>
            <td><a href="{% url 'show_client_edit' clients_id=client.id %}"><img width="20px" height="20px" src="{% static '/media/edit.png' %}"></a></td>
            <td><a href="{% url 'clientdel' clients_id=client.id %}"><img width="20px" height="20px" src="{% static '/media/del.png' %}"></a></td>
        </tr>

    {% endfor%}
    <tr><td><a href="/clients/add/">Добавить клиента</a></td></tr>
</table>
{% endblock %}