{% extends 'index.html' %}

{% block clients %}
<table border="1">
    <caption>Таблица имен</caption>
    <tr>
        <th>id</th>
        <th>ФИО</th>
        <th>Телефон</th>
        <th>О клиенте</th>
    </tr>
    {% for client in clients %}
    <tr>
        <td>{{ client.id }}</td>
        <td><a href="../../clients/get/{{ client.id }}/">{{ client.get_fio }}</a></td>
        <td>{{ client.clients_telephone | phone2numeric}}</td>
        <td>{{ client.clients_comments}}</td>
    </tr>
    {% endfor%}
    <tr><td> Добавить клиента</td></tr>
</table>
{% endblock %}