ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}
ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
}
.wrapper_body{
    position: absolute;
    padding: 20px 0;
    height: 100%;
    width: 100%;
    background-image: url(http://subtlepatterns.com/patterns/dark_wall.png);
    background-repeat: repeat;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    color: #4A4A4A ; 
 }
.cbm_wrap {
    display: block;
    min-height: 310px !important;
    width:300px;
    margin:  20px auto;
    padding: 12px;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    position: relative;
    background-color:#fff; 
    text-align: center;
}
.cbm_wrap img {
    width: 100%;
    margin-top: 15px;
    margin-botom: 15px;
}
.cbm_wrap p{
    margin-top: 15px !important;
    text-align: justify !important;
}
.cbm_wrap h1{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
     text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    }
.cbm_wrap a{
    text-decoration: none;
    color: #4A4A4A !important;
}
.cbm_wrap a:hover{
    text-decoration: underline;
    color: #6B6B6B !important ;
}
