<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Электронный организатор</title>
    <style>
        ul.hr {
            margin: 0; /* Обнуляем значение отступов */
            padding: 4px; /* Значение полей */
        }
        ul.hr li {
            display: inline; /* Отображать как строчный элемент */
            margin-right: 5px; /* Отступ слева */
            border: 1px solid #000; /* Рамка вокруг текста */
            padding: 3px; /* Поля вокруг текста */
        }
    </style>
</head>
<body>
<h1>Главная страница</h1>

  <ul class="hr">
      <li><a href="../../">Главная</a></li>
      <li><a href="../../../clients/all/">Клиенты</a></li>
      <li><a href="../../admin/">Админка</a></li>



  </ul>
<hr>
<br>

{% block clients %}{% endblock %}
<br>
<hr>
<footer>
    автор: Шаталин А.А.
</footer>
</body>
</html>